<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title><%=title%></title>
</head>
<body>
    <header>
        <%-include('partials/header.ejs')%>
    </header>

    <main id="publicacion">
        <div class="parte-centrada">
            <img src="<%=post.image%>" alt="holamundo">
            <h2><%=post.title%></h2>
            <p><%=post.intro%></p>
            <a href="/"><%=post.category%></a>
        </div>

        <div class="parte-nocentrada">
            <%-post.content%>
        </div>
    </main>

    <footer>
        <%-include('partials/footer.ejs')%>
    </footer>
</body>
</html>